{{ define "main" }}
    {{ $extLinkIcon := index site.Data.svgicons.icons "externalLink" | safeHTML }}


    <div class="container-fluid">
        <div style="height: 50px;"></div>
    </div>
    {{ $fullTitle := "" }}
    {{ $firstPage := index .Pages 0 }}
    {{ $fullTitle = $firstPage.Title }}
    {{ with $firstPage.Params.translatedTitle }}
        {{ $fullTitle = printf "%s (%s)" $fullTitle . }}
    {{ end }}
    <div>
        {{ $title := .Title }}
        {{ with partialCached "tmdb-meta.html" $title $title }}
            {{ $scoreImg := partial "fcg-rating.html" (dict "title" $title "size" "large") }}
            {{ partial "taxonomy/mreviews/metadata.html" (dict "meta" . "fullTitle" $fullTitle "scoreImg" $scoreImg) }}
        {{ else }}
            {{ warnf "Unable to get global resource %s" $title }}
        {{ end }}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <h2 class="section-head">Guild Reviews</h2>
            </div>
            {{ $paginator := .Paginate .Pages 8 }}
            <div class="d-flex justify-content-center mb-3">
                {{ template "_internal/pagination.html" . }}
            </div>
            {{ range $paginator.Pages }}
                <div class="mb-3">
                    {{ if eq .Params.media "print" }}
                        <div class="row mb-3">
                            <div class="col-lg-4 offset-lg-1">
                                {{ printf "<!-- Path:  %s -->" .Page | safeHTML }}
                                {{ $imgPath := printf "images/reviews/%s" .Params.img }}
                                {{ with resources.Get $imgPath }}
                                    {{ with .Process "webp" }}
                                        <img
                                            src="{{ .RelPermalink }}"
                                            class="img-fluid review-image mt-2"
                                            alt="Image of scene from the film {{ $fullTitle }}" />
                                    {{ end }}
                                {{ end }}
                            </div>
                            <div class="col-lg-6">
                                <div
                                    class="border border-start-2 border-end-2 border-top-0 border-bottom-0">
                                    <div
                                        class="border border-3 border-top-0 border-start-0 border-end-0">
                                        <div class="px-4">
                                            <h2 class="mb-2">
                                                {{ .Params.subtitle }}
                                            </h2>
                                            <div class="pb-1">
                                                {{ partial "reviewer.html" (dict "reviewer" (index .Params.critics 0 ) "date" (.Date.Format "Mon, January 2 2006")) }}
                                            </div>
                                            {{ with .Params.publication }}
                                                <p class="pub-date mb-1">
                                                    (Written for {{ . }})
                                                </p>
                                            {{ end }}
                                            {{ with .Params.opening }}
                                                <p class="author">{{ . }}</p>
                                            {{ end }}
                                            <div class="small">
                                                {{ .Summary }}
                                            </div>
                                            <p class="small">
                                                <a
                                                    href="{{ .Params.source }}"
                                                    target="_blank">
                                                    {{ $extLinkIcon }} Continue
                                                    reading &hellip;</a
                                                >
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{ else }}
                        <div class="row">
                            <div class="col-lg-6 offset-lg-3">
                                <div class="mb-3">
                                    <div
                                        class="border border-start-2 border-end-2 border-top-0 border-bottom-0">
                                        <div
                                            class="border border-3 border-top-0 border-start-0 border-end-0">
                                            <div class="p-2">
                                                <h2 class="my-3">
                                                    {{ .Params.subtitle }}
                                                </h2>
                                                <div class="mb-4">
                                                    {{ partial "reviewer.html" (dict "reviewer" (index .Params.critics 0 ) "date" (.Date | time.Format ":date_long")) }}
                                                    {{ with .Params.publication }}
                                                        <p
                                                            class="pub-date mb-1">
                                                            (For {{ . }})
                                                        </p>
                                                    {{ end }}

                                                </div>
                                                <div>
                                                    {{ .Summary }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{ end }}
                </div>
            {{ end }}
            <div class="d-flex justify-content-center">
                {{ template "_internal/pagination.html" . }}
            </div>
            {{ $reviews := partial "recent-film-list.html" (dict "maxCount" 4 "section" "reviews") }}
            <div class="row">
                <h2 class="section-head">Latest Reviews</h2>
            </div>
            <div class="row">
                {{ range $reviews }}
                    <div class="col me-1" style="background-color: #ebe4ed;">
                        {{ $scoreImg := partial "fcg-rating.html" (dict "title" .LinkTitle "size" "medium") }}
                        {{ partial "short-meta.html" (dict "review" . "type" "short" "scoreImg" $scoreImg) }}
                    </div>
                {{ end }}
            </div>
        </div>
    </div>
{{ end }}
