{{ $title := . }}
{{ $imgLink := "" }}
{{ $bkg := resources.Get "og/background.jpg" }}
{{ with partial "tmdb-meta.html" $title }}
    {{ with .poster_path }}
        {{ with resources.Get (printf "meta/posters%s" .) }}
            {{ $poster := .Process "resize x315" }}
            {{ $ogImage := $bkg.Filter (images.Overlay $poster 0 0) }}
            {{ $logo := resources.Get "og/logo-1x.png" }}
            {{ with partial "fcg-rating-raw.html" $title }}
                {{ $scoreImg := resources.Get (printf "og/%d.png" . ) }}
                {{ $ogImage = $ogImage.Filter (images.Overlay $scoreImg 320 110) }}
                {{ $ogImage = $ogImage.Filter (images.Overlay $logo 270 20) }}
            {{ else }}
                {{ $ogImage = $ogImage.Filter (images.Overlay $logo 270 120) }}
            {{ end }}
            {{ $imgLink = $ogImage.Permalink }}
        {{ end }}
    {{ end }}
{{ end }}
{{ return $imgLink }}
