{{ $extLinkIcon := index site.Data.svgicons.icons "externalLink" }}
{{ $critic := index .Params.critics 0 }}
{{ $criticAnchor := lower (replace $critic " " "-") }}
<div class="row mb-3">
    <div class="col-lg-10 offset-lg-1">
        <a class="anchor" id="{{- $criticAnchor -}}"></a>
        <h6 class="fw-bold">
            <span class="d-inline-block pb-2"
                >{{ .Title }}
                {{ with .Params.translatedTitle }}( {{- . -}} ){{ end }}</span
            >
            <br />
            {{ partialCached "taxonomy/critics/reviewLink" (dict "critic" $critic "review" .) .Title $critic }}
        </h6>
        {{ with partial "scaledImage" (printf "%s/%s" site.Params.images.reviews .Params.img) }}
            <img src="{{ .RelPermalink }}" class="img-responsive w-100 mb-3" />
        {{ end }}
        <h6 class="fw-bold small pb-2">
            {{ .Params.subtitle | safeHTML }}
        </h6>
        <p class="summary small text-primary-emphasis">
            {{ .Params.opening }}
        </p>
        <div class="small">
            {{ .Summary }}
        </div>
        <p class="small mb-1">
            <a
                target="_blank"
                href="{{ .Params.source }}"
                class="d-flex align-items-center">
                {{ $extLinkIcon | safeHTML }} Continue reading &hellip;</a
            >
        </p>
        <hr />
    </div>
</div>
