{{ define "main" }}
    <div class="container col-xxl-8 py-5">
        <div class="row g-5 py-5">
            <div class="col-lg-6 offset-lg-3">
                <h2 class="mb-3">Ooooops!!!</h2>
                <div class="small">
                    <p>
                        Looks like the internet is playing hooky with you or
                        (more likely) we dont have the page that you want.
                    </p>
                    <p>
                        But we do have others &mdash; a page listing
                        <a href="/critics">all our member reviewers</a>, a page
                        with
                        <a href="/">our latest reviews</a>
                        if you choose to binge-read, and a page with an
                        <a href="/mreviews"
                            >alphabetical list of every film reviewed</a
                        >
                        for all reviews of a particular film and many, many
                        others about the
                        <a href="https://filmcriticsguild.com" _target="blank"
                            >Film Critics Guild</a
                        >
                        (opens in a new window) that you can reach from the menu
                        on the top of this page.
                    </p>
                </div>
            </div>
        </div>
    </div>
{{ end }}
