{{ define "main" }}
    <div class="container">
        <div class="row" style="margin-top: 80px;">
            <div class="col-lg-10 offset-lg-1">
                <h2 class="fw-bold mb-5">Our Critics</h2>
                {{ .Content }}
                <div class="row">
                    {{ range sort .Pages ".LinkTitle" }}
                        {{ $criticPage := index (where .Site.RegularPages ".Title" .Title) 0 }}
                        <div class="col-md-3 mb-3">
                            <div class="latest">
                                <h6>
                                    <a href="{{ .RelPermalink }}"
                                        >{{ .LinkTitle }}</a
                                    >
                                </h6>
                                <p>
                                    {{ with $criticPage.Params.organizations }}
                                        {{ index . 0 }}
                                    {{ end }}
                                </p>
                                {{ with resources.Get $criticPage.Params.img }}
                                    <img
                                        src="{{ .RelPermalink }}"
                                        class="img-fluid"
                                        alt="FCG Member Reviewer {{ $criticPage.Title }}" />
                                {{ end }}
                                <p class="small">
                                    {{ (delimit (first 18 (split $criticPage.Summary " ")) " ") | safeHTML }}
                                    <a href="{{ .RelPermalink }}"
                                        >(more &hellip;)</a
                                    >
                                </p>
                            </div>
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
{{ end }}
