{{ define "main" }}
    {{ $extLinkIcon := index site.Data.svgicons.icons "externalLink" | safeHTML }}


    <div class="container-fluid">
        <div style="height: 50px;"></div>
    </div>
    <div>
        {{ partial "taxonomy/critics/metadata.html" .Title }}
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <h2 class="section-head">All reviews by {{ .Title }}</h2>
            </div>
        </div>
    </div>
    {{ $paginator := .Paginate .Pages 8 }}
    <div class="container">
        <div class="d-flex justify-content-center mb-3">
            {{ template "_internal/pagination.html" . }}
        </div>
        {{ range $paginator.Pages }}
            <div class="mb-5">
                {{ if eq .Params.media "print" }}
                    <div class="row mb-3">
                        <div class="col-lg-4 offset-lg-1">
                            {{ $imgPath := printf "images/reviews/%s" .Params.img }}
                            {{ $img := resources.Get $imgPath }}
                            {{ with $img }}
                                <img
                                    src="{{ .RelPermalink }}"
                                    class="img-fluid w-100 review-image" />
                            {{ end }}
                        </div>
                        <div class="col-lg-6">
                            <div
                                class="border border-start-2 border-end-2 border-top-0 border-bottom-0">
                                <div
                                    class="border border-3 border-top-0 border-start-0 border-end-0">
                                    <div class="px-4 clearfix">
                                        <h2 class="mb-2">
                                            {{ .Title }}
                                            {{ with .Params.translatedTitle }}
                                                ({{ . }})
                                            {{ end }}
                                        </h2>
                                        <h4 class="sub-title">
                                            {{ .Params.subtitle }}
                                        </h4>
                                        <div class="small">
                                            {{ .Summary }}
                                        </div>
                                        <p class="small float-start">
                                            <a
                                                href="{{ .Params.source }}"
                                                target="_blank"
                                                >{{ $extLinkIcon }} Continue
                                                Reading&hellip;</a
                                            >
                                        </p>
                                        <div class="float-end">
                                            {{ partial "taxonomy/mreviews/reviewLink.html" .Title }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {{ else }}
                    <div class="row">
                        <div class="col-lg-6 offset-lg-3">
                            <div class="mb-2">
                                <div
                                    class="border border-start-2 border-end-2 border-top-0 border-bottom-0">
                                    <div
                                        class="border border-3 border-top-0 border-start-0 border-end-0">
                                        <h2 class="my-3">
                                            {{ .Title }}
                                            {{ with .Params.translatedTitle }}
                                                ({{ . }})
                                            {{ end }}
                                        </h2>
                                        <h4 class="sub-title">
                                            {{ .Params.subtitle }}
                                        </h4>
                                        <div class="p-2">
                                            {{ .Summary }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {{ end }}
            </div>
        {{ end }}
        <div class="d-flex justify-content-center">
            {{ template "_internal/pagination.html" . }}
        </div>
    </div>
{{ end }}
