{{ define "main" }}
    {{ $criticPage := index (where .Site.RegularPages ".LinkTitle" (.Params.author)) 0 }}
    <div class="container">
        {{with resources.Get (printf "images/newsletter/%s" .Params.hdrImage) }}
			{{ with .Process "webp" }}
                <img
                    src="{{ .RelPermalink }}"
                    class="img-fluid w-100 mb-5"
                    alt="FCG Member Reviewer {{ .Title }}" />
            {{ end }}
        {{ end }}
    </div>
    <div class="container">
        <div class="row">
        </div>
    </div>
    <div class="container">
        <h2>FCG Newsletter: Special Feature</h2>
        <div class="row">
            <div class="col-lg-3 offset-lg-1">
                {{- with $criticPage }}
					{{ with resources.Get .Params.img }}
						{{ with .Process "webp" }}
							<img
								src="{{ .RelPermalink }}"
								class="img-fluid w-100"
								alt="FCG Member Reviewer {{ .Title }}" />
						{{ end }}
					{{ end }}
                	<h6>{{ .LinkTitle }}</h6>
					<p class="fitted-org genre-style" >
						{{ with .Params.organizations }}
							{{ delimit . ", " }}
						{{ end }}
					</p>
                {{ end }}
            </div>
            <div class="col-lg-7">
                <h3>{{ .Title }}</h3>
            </div>
        </div>
    </div>

    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $dateHuman := .Date | time.Format ":date_long" }}
    <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
    <pre>newsletter/page.html</pre>
    {{ .Content }}
    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
{{ end }}
