{{ define "main" }}
    <div class="container">
        {{with resources.Get (printf "images/newsletter/%s" .Params.hdrImage) }}
			{{ with .Process "webp" }}
                <img
                    src="{{ .RelPermalink }}"
                    class="img-fluid w-100 mb-5"
                    alt="FCG Member Reviewer {{ .Title }}" />
            {{ end }}
        {{ end }}
    </div>
    <div class="container">
        <div class="row">
        </div>
    </div>
    <div class="container">
        <h2 class="mb-5 pb-5">FCG Newsletter: Special Feature</h2>
        <div class="row">
            <div class="col-lg-2 col-md-2 offset-lg-2">
                {{- with .Site.GetPage (printf "/guild/members/%s" .Params.author) }}
					{{ with resources.Get .Page.Params.img }}
						{{ with .Process "webp" }}
							<img
								src="{{ .RelPermalink }}"
								class="img-fluid w-100 mb-3"
								alt="FCG Member Reviewer {{ .Title }}" />
						{{ end }}
					{{ end }}
                	<h6 class="genre-style">By {{ .LinkTitle }}
						{{ with .Params.organizations }}
							({{- delimit . ", " }})
						{{ end }}
                    </h6>
                {{ end }}
            </div>
            <div class="col-lg-6 col-md-6">
                <h2>{{ .Title }}</h2>
                {{ .Content }}
            </div>
        </div>
    </div>
{{ end }}
