{{ $yellow := "\033[33m" }}
{{- $colReset := "\033[0m" }}
{{ $title := . }}
{{ $reviews := index site.Taxonomies.mreviews (lower $title) }}
{{ $score := 0.0 }}
{{ $outOf := 0 }}
{{ range $reviews }}
    {{ $path := .Path }}
    {{ $s := .Params.scores }}
    {{ with $s }}
        {{ range $s }}
            {{ $score = add $score (cast.ToFloat .) }}
            {{ $outOf = add $outOf 1 }}
        {{ end }}
    {{ end }}
{{ end }}
{{ $oldScore := $score }}
{{ $oldOutOf := $outOf }}
{{ $freeScores := site.Data.freescores }}
{{ with index $freeScores $title }}
    {{ range $key, $value := . }}
        {{ $score = add $score $value }}
        {{ $outOf = add $outOf 1 }}
    {{ end }}
{{ end }}
{{ if gt $outOf $oldOutOf }}
    {{ warnf "%sScore for %s changed to %0.1f of %d from %.1f of %d%s" $yellow $title $score $outOf $oldScore $oldOutOf $colReset }}
{{ end }}
{{ if ge $outOf 3 }}
    {{ $score = math.Round (div (math.Product 10 $score) $outOf) }}
{{ else }}
    {{ $score = 0 }}
{{ end }}
{{ return (cast.ToInt $score) }}
