<!--footer-->
<div id="footer">
    <div class="wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h6 class="title">about the publisher</h6>
                    <p>
                        The Film Critics Guild (FCG) is India’s first registered
                        association of a geographically diverse cross-section of
                        professional film critics who have come together to
                        streamline the ethical and quality standards for film
                        criticism in the country.
                    </p>
                    <p>
                        With India’s most credible critics &mdash; representing
                        print, radio, broadcast, and the web &mdash; at its
                        helm, the Guild is dedicated to maintaining the highest
                        level of integrity amongst its members and evaluating
                        works of cinema that stand apart in their craft.
                    </p>
                </div>
                <div class="col-md-3">
                    <h6 class="title">terms and conditions</h6>
                    <p>
                        All rights reserved. This site and its contents &ndash;
                        in whole or part &ndash; may not be copied, stored,
                        reproduced or transmitted in any form or by any means,
                        without the prior written permission of the copyright
                        holders
                    </p>
                </div>
                <div class="col-md-3">
                    <h6 class="title">contact us</h6>
                    <p>
                        <strong>Abhra Das</strong><br />Senior Manager,<br />
                        Film Critics Guild<br />
                        <a href="mailto:#">filmcriticsguildindia@gmail.com</a>
                    </p>
                    <hr />
                    <p>
                        <strong>Film Critics Guild</strong><br />
                        201-202, Marina Vista, Shirley Mala Road,<br />
                        Off Carter Road, Bandra West<br />
                        Mumbai- 400050
                    </p>
                </div>
                <div class="col-md-3">
                    <h6 class="title">attributions</h6>
                    <p>
                        Text: <strong>Abhra Das, Sachin Chatte</strong><br />
                        Design: <strong>Sagar Saple</strong>
                    </p>
                    <p>
                        Copyright:
                        <strong>Film Critics Guild</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--bottom footer-->
    <div class="footer_bottom pb-5">
        <div class="wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="copyright">
                            <strong>Film Critics Guild</strong>
                            &copy;
                            <script type="text/javascript">
                                var d = new Date();
                                document.write(d.getFullYear());
                            </script>
                            - All Rights Reserved <br />
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="foot_right_block">
                            <div class="follow_us-right text-align-left">
                                <a data-rel="tooltip" href="#" title="Twitter"
                                    ><i class="fa-brands fa-facebook"></i
                                ></a>
                                <a data-rel="tooltip" href="#" title="Facebook"
                                    ><i class="fa-brands fa-twitter"></i
                                ></a>
                                <a data-rel="tooltip" href="#" title="LinkedIn"
                                    ><i class="fa-brands fa-linkedin"></i
                                ></a>
                                <a data-rel="tooltip" href="#" title="Instagram"
                                    ><i class="fa-brands fa-instagram"></i
                                ></a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
