{{ $review := .review }}
{{ $short := .short }}
{{ $critics := slice }}

{{ with (site.GetPage $review.Path) }}
    {{ $critics = index .Params.critics }}
{{ end }}
<div class="row">
    <!-- Card 1 -->
    <div class="col-12">
        <div class="media-card">
            {{- $imgPath := "/images/groups/the-long-take.jpeg" }}
            {{- if eq (len $critics) 1 }}
                {{ $criticPage := index (where (where site.RegularPages ".Type" "guild") ".Title" (index $critics 0)) 0 }}
                {{- $imgPath = $criticPage.Params.img }}
            {{- end }}
            {{ with resources.Get $imgPath }}
                {{ with .Resize "60x webp" }}
                    <img
                        src="{{- .RelPermalink }}"
                        alt="Fox in morning light"
                        class="media-card__img rounded-circle" />
                {{- end }}
            {{- end }}
            <div style="overflow: hidden;">
                <p class="media-card__label mb-2">
                    {{- partial "inline/new-review-header/critic-links" (dict "critics" $critics "review" $review ) }}
                </p>
                <p class="media-card__title fw-bolder">
                    {{- if $short }}
                        {{ $review.Params.Date.Format "Mon, January 2 2006" }}
                    {{- else }}
                        {{ $review.Params.subtitle }}
                    {{- end }}
                </p>
            </div>
        </div>
    </div>
</div>

{{- define "_partials/inline/new-review-header/critic-links.html" }}
    {{- $critics := .critics }}
    {{- $review := .review }}
    {{- $line := slice }}
    {{- $creditSlice := newScratch }}
    {{- range $critics }}
        {{ $criticPage := index (where (where site.RegularPages ".Type" "guild") ".Title" .) 0 }}
        {{ $reviewsPageLink := index site.Taxonomies.critics (lower .) }}
        {{- $creditSlice.Add "credits" (slice (partial "inline/new-review-header/critic-credit.html" (dict
            "critic" .
            "link" $reviewsPageLink.Page.RelPermalink
            "org" $criticPage.Params.organizations
            "pub" $review.Params.publication
            )))
        }}
    {{- end }}
    {{ (delimit ($creditSlice.Get "credits") `, ` ` and `) | safeHTML }}
{{- end }}

{{- define "_partials/inline/new-review-header/critic-credit.html" }}
    {{- $critic := .critic }}
    {{- $link := .link }}
    {{- $org := .org }}
    {{- $pub := .pub }}
    <a href="{{- $link }}">{{ $critic }}</a>
    <span class="organization">
        {{ with index $org 0 }}
            |
            {{ . }}
        {{ end }}
        {{ with $pub }}
            writing for
            <span class="bolder">{{ . }}</span>
        {{ end }}
    </span>
{{- end }}
