<!doctype html>
<html
    lang="{{ site.Language.LanguageCode }}"
    dir="{{ or site.Language.LanguageDirection `ltr` }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <!-- Google tag (gtag.js) -->
    <script
        async
        src="https://www.googletagmanager.com/gtag/js?id=G-NT6N5VFYWH"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "G-NT6N5VFYWH");
    </script>
    <body>
        <div class="container-fluid">
            <header>
                {{ partial "header.html" . }}
            </header>
        </div>
        <main>
            {{ block "main" . }}{{ end }}
        </main>
        <div class="container-fluid">
            <footer>
                {{ partialCached "footer.html" . }}
            </footer>
        </div>
        {{ partialCached "head/js.html" . }}
    </body>
</html>
