<!doctype html>
<html
    lang="{{ site.Language.LanguageCode }}"
    dir="{{ or site.Language.LanguageDirection `ltr` }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>
        <div class="container-fluid">
            <header>
                {{ partial "header.html" . }}
            </header>
        </div>
        <main>
            {{ block "main" . }}{{ end }}
        </main>
        <div class="container-fluid">
            <footer>
                {{ partialCached "footer.html" . }}
            </footer>
        </div>
        {{ partialCached "head/js.html" . }}
    </body>
</html>
