{{ define "main" }}
    {{ $extLinkIcon := index site.Data.svgicons.icons "externalLink" | safeHTML }}
    {{ $films := partial "all-films-list.html" "reviews" }}
    {{ $paginator := .Paginate $films  12 }}


    <div style="margin-top: 25px;">
        <div id="home-carousel">
            {{ $sorted := partial "sorted-pages.html" $paginator.Pages }}
            {{ range first 6 $sorted }}
                {{ $page := index $paginator.Pages . }}
                <div>
                    {{ partial "mini-meta.html" $page }}
                </div>
            {{ end }}
        </div>
        <div class="container">
            <div id="next-prev" class="clearfix text-center">
                <span class="next">
                    <a href="#">&#8592; Previous</a>
                </span>
                <span class="prev">
                    <a href="#">Next &#8594;</a>
                </span>
            </div>
        </div>
        <div class="container">
            <div class="row" style="margin-top: 100px;">
                <div class="col-lg-10 offset-lg-1">
                    <h2 class="section-head">Guild Reviews</h2>
                    <div class="d-flex justify-content-center">
                        {{ template "_internal/pagination.html" . }}
                    </div>
                    <div class="row">
                        {{ range $paginator.Pages }}
                            <div class="col-lg-6 my-3">
                                <div>
                                    {{ $scoreImg := partial "fcg-rating.html" (dict "title" .LinkTitle "size" "small") }}
                                    {{ partial "short-meta.html" (dict "context" . "type" "full" "scoreImg" $scoreImg "showCast" true) }}
                                </div>
                                {{ $reviews := first 3 (sort (where .Site.RegularPages ".LinkTitle" .LinkTitle) ".Date" "desc") }}
                                {{ $accordionID := printf "%s-%s" "accordion" (replace (index $reviews 0).Title " " "-") }}
                                <div class="accordion" id="{{ $accordionID }}">
                                    {{ range $review := $reviews }}
                                        <div class="accordion-item">
                                            {{ $id := .File }}
                                            {{ $summary := .Summary }}
                                            {{ $source := "" }}
                                            {{ if eq .Params.media "print" }}
                                                {{ $source = .Params.source }}
                                            {{ end }}
                                            <div
                                                class="short-review accordion-header mb-1">
                                                {{ $reviewer := index (where site.RegularPages ".LinkTitle" (index $review.Params.critics 0)) 0 }}
                                                {{ with $reviewer }}
                                                    {{ $img := resources.Get .Params.img }}
                                                    {{ $img = $img.Resize "50x" }}
                                                    <div class="row">
                                                        <div class="col-lg-10">
                                                            <div
                                                                class="clearfix accordion-header ps-2 pb-2">
                                                                <div
                                                                    class="py-1">
                                                                    <img
                                                                        src="{{ $img.RelPermalink }}"
                                                                        class="rounded-circle float-start mt-2" />
                                                                </div>
                                                                <div
                                                                    style="padding-left: 62px;">
                                                                    <div>
                                                                        <span
                                                                            class="author"
                                                                            >{{ .Params.title }}</span
                                                                        >
                                                                        {{ partial "taxonomy/critics/reviewLink.html" .Params.title }}
                                                                    </div>
                                                                    <h6
                                                                        class="pe-3">
                                                                        {{ $review.Params.subtitle }}
                                                                    </h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <button
                                                                class="accordion-button collapsed"
                                                                type="button"
                                                                data-bs-toggle="collapse"
                                                                data-bs-target="#{{- $id }}"
                                                                aria-expanded="true"
                                                                aria-controls="{{ $id }}"></button>
                                                        </div>
                                                    </div>
                                                    <div
                                                        id="{{ $id }}"
                                                        class="accordion-collapse collapse"
                                                        data-bs-parent="{{- printf "#%s" $accordionID }}">
                                                        <div
                                                            class="accordion-body">
                                                            {{ $summary }}
                                                            {{ with $source }}
                                                                <p
                                                                    class="small">
                                                                    <a
                                                                        href="{{ $source }}"
                                                                        target="_blank">
                                                                        Continue
                                                                        reading
                                                                        &hellip;</a
                                                                    >
                                                                </p>
                                                            {{ end }}
                                                        </div>
                                                    </div>
                                                {{ end }}
                                            </div>
                                        </div>
                                    {{ end }}
                                </div>
                            </div>
                        {{ end }}
                    </div>
                    <div class="d-flex justify-content-center">
                        {{ template "_internal/pagination.html" . }}
                    </div>
                </div>
            </div>
        </div>
        {{ with resources.Get "js/home-carousel.js" }}
            {{ $opts := dict
                "minify" hugo.IsProduction
                "sourceMap" (cond hugo.IsProduction "" "external")
            }}
            {{ with . | js.Build $opts }}
                {{ if hugo.IsProduction }}
                    {{ with . | fingerprint }}
                        <script
                            src="{{ .RelPermalink }}"
                            integrity="{{ .Data.Integrity }}"
                            crossorigin="anonymous"></script>
                    {{ end }}
                {{ else }}
                    <script src="{{ .RelPermalink }}"></script>
                {{ end }}
            {{ end }}
        {{ end }}
    </div>
{{ end }}
