<div>
    {{ $scoreImg := partial "fcg-rating.html" (dict "title" .Title "size" "small") }}
    {{ partial "short-meta.html" (dict "review" . "type" "full" "scoreImg" $scoreImg "showCast" true) }}
</div>
{{ $reviews := first 3 (sort (where .Site.RegularPages ".Title" .Title) ".Date" "desc") }}
{{ $accordionID := printf "%s-%s" "accordion" (replace (index $reviews 0).Title " " "-") | urlize }}
<div class="accordion" id="{{ $accordionID }}">
    {{ range $review := $reviews }}
        {{ partial "home/film-review.html" (dict "review" $review "accordionID" $accordionID) }}
    {{ end }}
</div>
