.oswald-300 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.oswald-400 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}


@font-face {
  font-family: 'DIN-2014';
  src: url('/fonts/DIN-2014_Regular.otf') format('otf'), /* Path to your font file */
       url('/fonts/DIN-2014_Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Shows fallback font until custom font loads */
}

@font-face {
  font-family: 'DIN-2014-Bold';
  src: url('/fonts/DIN-2014_Bold.otf') format('otf'), /* Path to your font file */
       url('/fonts/DIN-2014_Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap; /* Shows fallback font until custom font loads */
}