body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    color: #333333;
    background-color: #f4eef5;
    padding-top: 80px;
    min-height: 2000px;
}

.navbar {
    background-color: #000000;
    border-bottom: #924c9d 6px solid;
}

.navbar-nav .nav-link {
    color: #cac4d0;
    font-size: 18px;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

.navbar-nav .nav-link.active {
    color: #924c9d;
}

.banner-holder {
    padding: 10px 60px;
}

h1 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #924c9d;
    text-transform: uppercase;
    font-size: 48px;
}

h1.meta-title {
    font-weight: 500;
    font-style: normal;
    color: #924c9d;
    text-transform: uppercase;
    font-size: 30px;
}

h2 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #924c9d;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 1.5;
}

.author {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 0.9rem;
    color: #757575;
}

.pub-date {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9rem;
    color: #868686;
}

table.table {
    background-color: #ebe4ed;
}

.review-image {
    padding-top: 3rem;
}

.table-custom {
    padding: 2rem;
    background-color: #ebe4ed;
    --bs-table-bg: #ebe4ed !important;
    --bs-table-color: #827378;
}

.table-custom tbody {
    padding: 2rem;
}

td.attribute {
    color: #333333;
}
.genre {
    display: inline-block;
    text-transform: uppercase;
    border: 1px solid #b6a2a9;
    padding: 2px 6px;
    margin: 4px;
    font-size: 0.8rem;
    font-weight: 600;
    color: #b6a2a9;
}

h2.section-head {
    font-size: 34px;
    text-decoration: none;
    font-family: Oswald;
    font-weight: 400;
    background-color: #ebe4ed;
    padding: 0.5rem 0 0.5rem 1rem;
    margin-bottom: 2rem;
}

h3.recent {
    font-size: 24px;
    text-decoration: none;
    font-family: Oswald;
    font-weight: 400;
    background-color: #ebe4ed;
    line-height: 2.5rem;
    padding-left: 1rem;
    color: #924c9d;
}

h1.critic {
    font-size: 24px;
    text-decoration: none;
    font-family: Oswald;
    font-weight: 500;
    background-color: #ebe4ed;
    line-height: 2.5rem;
    color: #924c9d;
}

a {
    text-decoration: none;
    color: #924c9d;
}

h4.sub-title {
    font-size: 16px;
    text-decoration: none;
    font-family: Oswald;
    font-weight: 400;
    background-color: #ebe4ed;
    padding: 0.5rem;
    color: #494949;
}

.latest h6 {
    font-size: 16px;
    font-family: Oswald;
    color: #924c9d;
    text-transform: uppercase;
    margin-bottom: 3px;
}

.latest {
    font-size: 12px;
    text-decoration: none;
    font-weight: 400;
    padding: 1rem;
    background-color: #ebe4ed;
}

.latest:hover {
    background-color: #f6eaf8;
}

.meta h4 {
    font-size: 16px;
    text-decoration: none;
    font-family: Oswald;
    font-weight: 400;
    color: #924c9d;
}

.short-review h6 {
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
    color: #636363;
    text-transform: uppercase;
}

.short-review .author {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 0.8rem;
    color: #757575;
}

.short-review .pub-date {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.8rem;
    color: #868686;
}

p.all-link {
    font-size: 16px;
    text-decoration: none;
    font-family: Oswald;
    font-weight: 400;
    color: #868686;
    text-align: end;
}

ul.pagination li {
    padding: 0 2px;
}

ul.pagination li.active a {
    background-color: #924c9d;
    color: #ffffff !important;
}
ul.pagination li.page-item a {
    font-size: 0.8rem !important;
    font-family: Poppins;
    color: #924c9d;
}

a.anchor {
    display: block;
    position: relative;
    top: -7rem;
    visibility: hidden;
}

.accordion-body p {
    font-size: 0.8rem;
}

.accordion-button {
    padding: 0.25rem 1rem;
}
.accordion-button:not(.collapsed) {
    background-color: #ffffff !important;
    box-shadow: none;
}

.mini-meta {
    padding: 1rem 1rem 0 1rem;
    font-size: 0.8rem;
}
.mini-inset h6 {
    font-size: 20px;
    font-family: Oswald;
    color: #924c9d;
    text-transform: uppercase;
}

.next,
.prev {
    display: inline-block;
    font-family: Oswald;
    font-weight: 500;
    cursor: pointer;
    color: #924c9d;
    font-size: 1.2rem;
}

.prev {
    padding-left: 80px;
}

.next {
    padding-right: 80px;
}

#footer {
    background: #222 url(/images/foot_top.png) repeat;
    padding-top: 30px;
    margin-top: 60px;
    color: #666;
    font-family: "Poppins", sans-serif;
    font-size: smaller;
}

#footer li {
    padding: 0 0 15px 0;
    margin-bottom: 15px;
    border-bottom: 1px #222 solid;
    line-height: 16px;
}
#footer li:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

#footer .col-md-3 a {
    color: #aaa;
}
#footer .col-md-3 a:hover {
    color: #eee;
}

#footer h6 {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 20px;
    font-weight: 500;
    color: #aaa;
}
#footer .col-md-3 {
    padding-bottom: 30px;
}

#footer strong {
    color: #aaa;
}

.container-fluid {
    --bs-gutter-x: 0;
}

.score-image svg {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    margin: 10px auto 20px auto;
}
