{
    "CommitFunction": {
        "GITHUB_OWNER": "gurunandan-bhat",
        "GITHUB_REPO": "guild",
        "GITHUB_PAT_PARAM": "/algolia-updater/github-pat",
        "ADMIN_ORIGIN": "http://localhost:5173"
    },
    "BuildStatusFunction": {
        "GITHUB_OWNER": "gurunandan-bhat",
        "GITHUB_REPO": "guild",
        "GITHUB_PAT_PARAM": "/algolia-updater/github-pat",
        "ADMIN_ORIGIN": "http://localhost:5173",
        "AMPLIFY_APP_ID": "your-amplify-app-id",
        "AMPLIFY_PREVIEW_URL": "https://preview.fcgreviews.com"
    },
    "MetaCheckFunction": {
        "GITHUB_OWNER": "gurunandan-bhat",
        "GITHUB_REPO": "guild",
        "GITHUB_PAT_PARAM": "/algolia-updater/github-pat",
        "ADMIN_ORIGIN": "http://localhost:5173",
        "TMDB_API_KEY": "/fcg/tmdb-api-key"
    },
    "FreescoresFunction": {
        "GITHUB_OWNER": "gurunandan-bhat",
        "GITHUB_REPO": "guild",
        "GITHUB_PAT_PARAM": "/algolia-updater/github-pat",
        "ADMIN_ORIGIN": "http://localhost:5173"
    },
    "MergeFunction": {
        "GITHUB_OWNER": "gurunandan-bhat",
        "GITHUB_REPO": "guild",
        "GITHUB_PAT_PARAM": "algolia-updater/github-pat",
        "ADMIN_ORIGIN": "http://localhost:5173"
    }
}
