<div class="tns-outer" id="responsive-ow">
    <div class="tns-controls" aria-label="Carousel Navigation" tabindex="0">
        <button
            type="button"
            data-controls="prev"
            tabindex="-1"
            aria-controls="responsive">
            prev</button
        ><button
            type="button"
            data-controls="next"
            tabindex="-1"
            aria-controls="responsive">
            next
        </button>
    </div>
    <div class="tns-nav" aria-label="Carousel Pagination">
        <button
            type="button"
            data-nav="0"
            aria-controls="responsive"
            aria-label="Carousel Page 1 (Current Slide)"
            class="tns-nav-active"></button
        ><button
            type="button"
            data-nav="1"
            tabindex="-1"
            aria-controls="responsive"
            aria-label="Carousel Page 2"></button
        ><button
            type="button"
            data-nav="2"
            tabindex="-1"
            aria-controls="responsive"
            style="display:none"
            aria-label="Carousel Page 3"></button
        ><button
            type="button"
            data-nav="3"
            tabindex="-1"
            aria-controls="responsive"
            style="display:none"
            aria-label="Carousel Page 4"></button
        ><button
            type="button"
            data-nav="4"
            tabindex="-1"
            aria-controls="responsive"
            style="display:none"
            aria-label="Carousel Page 5"></button
        ><button
            type="button"
            data-nav="5"
            tabindex="-1"
            aria-controls="responsive"
            style="display:none"
            aria-label="Carousel Page 6"></button
        ><button
            type="button"
            data-nav="6"
            tabindex="-1"
            aria-controls="responsive"
            style="display:none"
            aria-label="Carousel Page 7"></button>
    </div>
    <div
        class="tns-liveregion tns-visually-hidden"
        aria-live="polite"
        aria-atomic="true">
        slide <span class="current">8 to 13</span> of 7
    </div>
    <div id="responsive-mw" class="tns-ovh">
        <div class="tns-inner" id="responsive-iw">
            <div
                class="responsive  tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal"
                id="responsive"
                style="transition-duration: 0s; transform: translate3d(-34.7826%, 0px, 0px);">
                <div
                    class="item tns-item tns-slide-cloned"
                    aria-hidden="true"
                    tabindex="-1">
                    <div class="img img-7">
                        <a href="">6</a>
                    </div>
                    <p>
                        Omnis dolorum eum blanditiis, ratione voluptates quod.
                    </p>
                </div>
                <div
                    class="item tns-item tns-slide-cloned"
                    aria-hidden="true"
                    tabindex="-1">
                    <div class="img img-1">
                        <a href="">0</a>
                    </div>
                    <p>
                        Sunt dignissimos distinctio, veniam, tenetur aspernatur
                        nulla!
                    </p>
                </div>
                <div
                    class="item tns-item tns-slide-cloned"
                    aria-hidden="true"
                    tabindex="-1">
                    <div class="img img-2">
                        <a href="">1</a>
                    </div>
                    <p>Corrupti, libero minima nihil expedita officiis? Quo.</p>
                </div>
                <div
                    class="item tns-item tns-slide-cloned"
                    aria-hidden="true"
                    tabindex="-1">
                    <div class="img img-3">
                        <a href="">2</a>
                    </div>
                    <p>Alias rem, ab impedit recusandae repellat tempore.</p>
                </div>
                <div
                    class="item tns-item tns-slide-cloned"
                    aria-hidden="true"
                    tabindex="-1">
                    <div class="img img-4">
                        <a href="">3</a>
                    </div>
                    <p>
                        Nisi inventore quo delectus perspiciatis voluptatibus,
                        quae.
                    </p>
                </div>
                <div
                    class="item tns-item tns-slide-cloned"
                    aria-hidden="true"
                    tabindex="-1">
                    <div class="img img-5">
                        <a href="">4</a>
                    </div>
                    <p>
                        Nisi harum earum consectetur laudantium iusto,
                        laboriosam.
                    </p>
                </div>
                <div
                    class="item tns-item tns-slide-cloned"
                    aria-hidden="true"
                    tabindex="-1">
                    <div class="img img-6">
                        <a href="">5</a>
                    </div>
                    <p>
                        Dolores blanditiis neque, quis vitae? Reprehenderit,
                        aliquam.
                    </p>
                </div>
                <div class="item tns-item tns-slide-cloned tns-slide-active">
                    <div class="img img-7">
                        <a href="">6</a>
                    </div>
                    <p>
                        Omnis dolorum eum blanditiis, ratione voluptates quod.
                    </p>
                </div>
                <div
                    class="item tns-item tns-slide-active"
                    id="responsive-item0">
                    <div class="img img-1">
                        <a href="">0</a>
                    </div>
                    <p>
                        Sunt dignissimos distinctio, veniam, tenetur aspernatur
                        nulla!
                    </p>
                </div>
                <div
                    class="item tns-item tns-slide-active"
                    id="responsive-item1">
                    <div class="img img-2">
                        <a href="">1</a>
                    </div>
                    <p>Corrupti, libero minima nihil expedita officiis? Quo.</p>
                </div>
                <div
                    class="item tns-item tns-slide-active"
                    id="responsive-item2">
                    <div class="img img-3">
                        <a href="">2</a>
                    </div>
                    <p>Alias rem, ab impedit recusandae repellat tempore.</p>
                </div>
                <div
                    class="item tns-item tns-slide-active"
                    id="responsive-item3">
                    <div class="img img-4">
                        <a href="">3</a>
                    </div>
                    <p>
                        Nisi inventore quo delectus perspiciatis voluptatibus,
                        quae.
                    </p>
                </div>
                <div
                    class="item tns-item tns-slide-active"
                    id="responsive-item4">
                    <div class="img img-5">
                        <a href="">4</a>
                    </div>
                    <p>
                        Nisi harum earum consectetur laudantium iusto,
                        laboriosam.
                    </p>
                </div>
                <div
                    class="item tns-item"
                    id="responsive-item5"
                    aria-hidden="true"
                    tabindex="-1">
                    <div class="img img-6">
                        <a href="">5</a>
                    </div>
                    <p>
                        Dolores blanditiis neque, quis vitae? Reprehenderit,
                        aliquam.
                    </p>
                </div>
                <div
                    class="item tns-item"
                    id="responsive-item6"
                    aria-hidden="true"
                    tabindex="-1">
                    <div class="img img-7">
                        <a href="">6</a>
                    </div>
                    <p>
                        Omnis dolorum eum blanditiis, ratione voluptates quod.
                    </p>
                </div>
                <div
                    class="item tns-item tns-slide-cloned"
                    aria-hidden="true"
                    tabindex="-1">
                    <div class="img img-1">
                        <a href="">0</a>
                    </div>
                    <p>
                        Sunt dignissimos distinctio, veniam, tenetur aspernatur
                        nulla!
                    </p>
                </div>
                <div
                    class="item tns-item tns-slide-cloned"
                    aria-hidden="true"
                    tabindex="-1">
                    <div class="img img-2">
                        <a href="">1</a>
                    </div>
                    <p>Corrupti, libero minima nihil expedita officiis? Quo.</p>
                </div>
                <div
                    class="item tns-item tns-slide-cloned"
                    aria-hidden="true"
                    tabindex="-1">
                    <div class="img img-3">
                        <a href="">2</a>
                    </div>
                    <p>Alias rem, ab impedit recusandae repellat tempore.</p>
                </div>
                <div
                    class="item tns-item tns-slide-cloned"
                    aria-hidden="true"
                    tabindex="-1">
                    <div class="img img-4">
                        <a href="">3</a>
                    </div>
                    <p>
                        Nisi inventore quo delectus perspiciatis voluptatibus,
                        quae.
                    </p>
                </div>
                <div
                    class="item tns-item tns-slide-cloned"
                    aria-hidden="true"
                    tabindex="-1">
                    <div class="img img-5">
                        <a href="">4</a>
                    </div>
                    <p>
                        Nisi harum earum consectetur laudantium iusto,
                        laboriosam.
                    </p>
                </div>
                <div
                    class="item tns-item tns-slide-cloned"
                    aria-hidden="true"
                    tabindex="-1">
                    <div class="img img-6">
                        <a href="">5</a>
                    </div>
                    <p>
                        Dolores blanditiis neque, quis vitae? Reprehenderit,
                        aliquam.
                    </p>
                </div>
                <div
                    class="item tns-item tns-slide-cloned"
                    aria-hidden="true"
                    tabindex="-1">
                    <div class="img img-7">
                        <a href="">6</a>
                    </div>
                    <p>
                        Omnis dolorum eum blanditiis, ratione voluptates quod.
                    </p>
                </div>
                <div
                    class="item tns-item tns-slide-cloned"
                    aria-hidden="true"
                    tabindex="-1">
                    <div class="img img-1">
                        <a href="">0</a>
                    </div>
                    <p>
                        Sunt dignissimos distinctio, veniam, tenetur aspernatur
                        nulla!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
