{{ $title := index . "title" }}
{{ $size := index . "size" }}
{{ $reviews := index site.Taxonomies.mreviews (lower $title) }}
{{ $score := 0 }}
{{ $outOf := 0 }}
{{ range $reviews }}
    {{ with .Params.score }}
        {{ $score = add $score . }}
        {{ $outOf = add $outOf 1 }}
    {{ end }}
{{ end }}
{{ $path := "" }}
{{ if ge $outOf 3 }}
    {{ $score = math.Round (div $score $outOf) }}
    {{ $path = printf "/images/scores/%s%s.png" $size (cast.ToString $score) }}
{{ end }}
{{ return $path }}
