<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
{{ $title := site.Title }}
{{ $description := "Film Reviews and Ratings by Members of the Film Critics Guild India." }}
{{- if eq .Kind "term" }}
    {{- if eq .Type "critics" }}
        {{- $title = printf "All Reviews by Film Critics Guild (FCG) Member %s" .LinkTitle }}
        {{- $description = $title }}
    {{- else if eq .Type "mreviews" }}
        {{- $title = printf "All FCG Reviews of %s by Member Critics" .LinkTitle }}
        {{- $description = $title }}
    {{- end }}
{{- else if eq .Kind "taxonomy" }}
    {{- if eq .Section "mreviews" }}
        {{- $title = "Alphabetical Index of Every Film Reviewed by Film Critics Guild (FCG) members" }}
        {{- $description = $title }}
    {{- else if eq .Section "critics" }}
        {{- $title = "Alphabetical Index of All Film Critics Guild Member Reviewers" }}
        {{- $description = $title }}
    {{- end }}
{{- end }}
<title>{{ $title }}</title>
<meta name="description" content="{{ $description }}" />
{{ partialCached "head/css.html" . }}
