{{ $path := printf "meta/%s.json" (md5 .) }}
{{ with resources.Get $path }}
    {{ with . | transform.Unmarshal }}
        {{ partial "short-meta.html" . }}
    {{ end }}
{{ else }}
    {{ warnf "Unable to get global resource %s: %q" .LinkTitle $path }}
{{ end }}

{{ define "partials/short-meta.html" }}
    {{ $metadata := . }}
    {{ with resources.Get (printf "meta/posters%s" $metadata.poster_path) }}
        <img src="{{ .RelPermalink }}" class="img-fluid w-100" />
    {{ end }}
    {{ $genreList := slice }}
    {{ range $metadata.genres }}
        {{ $genreList = append .name $genreList }}
    {{ end }}
    {{ $castList := slice }}
    {{ with $metadata.credits.cast }}
        {{ $cast := . }}
        {{ $castLen := len $cast }}
        {{ $min := math.Min 5 $castLen }}
        {{ $cS := slice }}
        {{ range first $min $cast }}
            {{ $cS = append (.name) $cS }}
        {{ end }}
        {{ $castList = delimit $cS ", " }}
    {{ end }}

    {{ $crew := $metadata.credits.crew }}
    {{ $director := "" }}
    {{ range $crew }}
        {{ if eq .job "Director" }}
            {{ $director = .name }}
        {{ end }}
    {{ end }}


    <div class="latest">
        <h6>{{ .title }}</h6>
        <p class="fw-bolder">{{ delimit $genreList ", " }}</p>
        <p>{{ delimit (first 16 (split .overview " ")) " " }}&hellip;</p>
        <p><span class="fw-bolder">Cast:</span> {{ $castList }}</p>
        <p><span class="fw-bolder">Director:</span> {{ $director }}</p>
    </div>
{{ end }}
