{{ $maxCount := index . "maxCount" }}
{{ $section := index . "section" }}
{{ $titleMap := dict }}
{{ $reviews := slice }}
{{ range sort (where site.RegularPages "Section" $section) ".Date" "desc" }}
    {{ $title := .Title }}
    {{ if (index $titleMap $title) }}{{ continue }}{{ end }}
    {{ $reviews = append (slice .) $reviews }}
    {{ $titleMap = merge $titleMap (dict $title 1) }}
    {{ if ge $maxCount 0 }}
        {{ if ge ($reviews | len) $maxCount }}{{ break }}{{ end }}
    {{ end }}
{{ end }}
{{ return $reviews }}
