{{ $name := index . "reviewer" }}
{{ $date := index . "date" }}
{{ $reviewerPage := index (where site.RegularPages "LinkTitle" $name) 0 }}
{{ $reviewLink := (index site.Taxonomies.critics (lower $name)).Page.RelPermalink }}
{{ with $reviewerPage }}
    {{ $img := resources.Get .Params.img }}
    {{ $img = $img.Resize "50x webp" }}
    <div class="clearfix mb-2">
        <img
            src="{{ $img.RelPermalink }}"
            class="rounded-circle float-start"
            alt="FCG Member Reviewer {{ $name }}" />
        <div style="padding-left: 62px;">
            <div class="author">
                <a href="{{ $reviewLink }}">{{ .Params.title }}</a> |
                <span class="pub-date"
                    >{{ delimit .Params.organizations ", " }}</span
                >
            </div>
            <div class="pub-date">
                {{ $date }}
            </div>
        </div>
    </div>
{{ end }}
