{{ $name := index . "reviewer" }}
{{ $date := index . "date" }}
{{ $reviewer := index (where site.RegularPages "LinkTitle" $name) 0 }}
{{ with $reviewer }}
    {{ $img := resources.Get .Params.img }}
    {{ $img = $img.Resize "50x" }}
    <div class="clearfix mb-3">
        <img
            src="{{ $img.RelPermalink }}"
            class="rounded-circle float-start" />
        <div class="author">{{ .Params.title }}</div>
        <div class="pub-date">{{ $date }} | {{ delimit .Params.organizations ", " }}</pub-date>
    </div>
{{ end }}
