{{ $review := index . "review" }}
{{ $type := index . "type" }}
{{ $scoreImg := index . "scoreImg" }}
{{ $showCast := index . "showCast" }}
{{ $pageImage := $review.Params.img }}
{{ $languages := site.Data.languages.languages }}
{{ $reviewHref := partial "taxonomy/mreviews/reviewLink-raw.html" $review.LinkTitle }}

{{ $imgLink := partial "backdrop.html" $review }}
<img src="{{ $imgLink }}" class="img-fluid w-100" />
{{ with partialCached "tmdb-meta.html" $review.Title $review.Title }}
    {{ $language := index $languages .original_language }}
    {{ $genreList := slice }}
    {{ range .genres }}
        {{ $genreList = append .name $genreList }}
    {{ end }}

    {{ $castList := slice }}
    {{ with .credits.cast }}
        {{ $cast := . }}
        {{ $castLen := len $cast }}
        {{ $min := math.Min 5 $castLen }}
        {{ $cS := slice }}
        {{ range first $min $cast }}
            {{ $cS = append (.name) $cS }}
        {{ end }}
        {{ $castList = delimit $cS ", " }}
    {{ end }}

    {{ $crew := .credits.crew }}
    {{ $director := "" }}
    {{ $writer := "" }}
    {{ range $crew }}
        {{ if eq .job "Director" }}
            {{ $director = .name }}
        {{ else if (and (eq .department "Writing") (eq .job "Writer")) }}
            {{ $writer = .name }}
        {{ end }}
    {{ end }}
    <div class="latest border border-2 border-bottom-0">
        <div class="row">
            <div class="col-lg-9">
                <h6>
                    <a href="{{ $reviewHref }}">
                        {{ $review.Title }}
                        {{ with $review.Params.translatedTitle }}
                            ({{ . }})
                        {{ end }}
                    </a>
                </h6>
                <p class="fw-bolder">
                    {{ delimit $genreList ", " }}
                    {{ with $language }}
                        ({{ $language.english_name }})
                    {{ end }}
                </p>
                <p>
                    {{ if eq $type "short" }}
                        {{ delimit (first 16 (split .overview " ")) " " }}&hellip;
                        <a href="{{ $reviewHref }}">(more)</a>
                    {{ else }}
                        {{ .overview }}
                    {{ end }}
                </p>
            </div>
            <div class="col-lg-3 text-center">
                {{ with $scoreImg }}
                    <img src="{{ . }}" class="img-fluid" />
                {{ end }}
            </div>
        </div>
        {{ if $showCast }}
            <div class="row">
                <p>
                    {{ with $castList }}
                        <span class="fw-bolder">Cast:</span>
                        {{ $castList }}
                    {{ end }}<br />
                    {{ with $director }}
                        <span class="fw-bolder">Director:</span>
                        {{ $director }}
                    {{ end }}
                    {{ with $writer }}
                        <br />
                        <span class="fw-bolder">Writer:</span>
                        {{ $writer }}
                    {{ end }}
                </p>
            </div>
            <hr class="mt-0 mb-2" />
            {{ partial "taxonomy/mreviews/reviewLink.html" $review.Title }}
        {{ end }}
    </div>
{{ else }}
    {{ with $review.Params.img }}
        {{ with partial "scaledImage" (printf "images/reviews/%s" .) }}
            <img src="{{ .RelPermalink }}" class="img-fluid w-100" />
        {{ end }}
        <div class="latest">
            <h6>
                {{ $review.Title }}
                {{ with $review.Params.translatedTitle }}
                    ({{ . }})
                {{ end }}
            </h6>
        </div>
    {{ end }}
    {{ warnf "Short Meta: Unable to get global resource %s" $review.Title }}
{{ end }}
