{{ $context := index . "context" }}
{{ $type := index . "type" }}
{{ $scoreImg := index . "scoreImg" }}
{{ $path := printf "meta/%s.json" (md5 $context.Title) }}
{{ $pageImage := $context.Params.img }}
{{ $meta := dict }}
{{ with resources.Get $path }}
    {{ with . | transform.Unmarshal }}
        {{ $meta = . }}
    {{ end }}
{{ else }}
    {{ warnf "Unable to get global resource %s: %q" $context.LinkTitle $path }}
{{ end }}

{{ $imgPath := (printf "/meta/backdrops%s" $meta.backdrop_path) }}
{{ with resources.Get $imgPath }}
    <img src="{{ .RelPermalink }}" class="img-fluid w-100" />
{{ else }}
    {{ $review := first 1 (where site.RegularPages ".Title" $context.Title) }}
    {{ with (index $review 0) }}
        {{ with .Params.img }}
            {{ with partial "scaledImage" (printf "images/reviews/%s" .) }}
                <img src="{{ .RelPermalink }}" class="img-fluid w-100" />
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}
{{ $genreList := slice }}
{{ range $meta.genres }}
    {{ $genreList = append .name $genreList }}
{{ end }}
{{ $castList := slice }}
{{ with $meta.credits.cast }}
    {{ $cast := . }}
    {{ $castLen := len $cast }}
    {{ $min := math.Min 5 $castLen }}
    {{ $cS := slice }}
    {{ range first $min $cast }}
        {{ $cS = append (.name) $cS }}
    {{ end }}
    {{ $castList = delimit $cS ", " }}
{{ end }}

{{ $crew := $meta.credits.crew }}
{{ $director := "" }}
{{ range $crew }}
    {{ if eq .job "Director" }}
        {{ $director = .name }}
    {{ end }}
{{ end }}
<div class="latest">
    <h6>{{ $meta.title }}</h6>
    <p class="fw-bolder">{{ delimit $genreList ", " }}</p>
    <div class="row">
        <div class="col-lg-9">
            <p>
                {{ if eq $type "short" }}
                    {{ delimit (first 16 (split $meta.overview " ")) " " }}&hellip;
                {{ else }}
                    {{ $meta.overview }}
                {{ end }}
            </p>
            <p>
                <span class="fw-bolder">Cast:</span> {{ $castList }}<br />
                {{ with $director }}
                    <span class="fw-bolder">Director:</span> {{ $director }}
                {{ end }}
            </p>
        </div>
        <div class="col-lg-3">
            {{ with $scoreImg }}
                <img src="{{ . }}" class="img-fluid w-100" />
            {{ end }}
        </div>
    </div>
    <hr />
    {{ partial "taxonomy/mreviews/reviewLink.html" $context.LinkTitle }}
</div>
