{{ $title := index . "title" }}
{{ $size := index . "size" }}
{{ $reviews := index site.Taxonomies.mreviews (lower $title) }}
{{ $score := 0 }}
{{ $outOf := 0 }}
{{ range $reviews }}
    {{ with .Params.score }}
        {{ $score = add $score . }}
        {{ $outOf = add $outOf 1 }}
    {{ end }}
{{ end }}
{{ $scoreIcon := "" }}
{{ if ge $outOf 3 }}
    {{ $score = math.Round (div (cast.ToFloat $score) $outOf) }}
    {{ $scoreIcon = (index site.Data.scoreIcons.icons (cast.ToString $score)) | safeHTML }}
{{ end }}
{{ return $scoreIcon }}
