{{ $extLinkIcon := index site.Data.svgicons.icons "externalLink" }}
{{ $critic := index .Params.critics 0 }}
{{ $titleAnchor := lower (replace .Title " " "-") }}
<div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
        <a class="anchor" id="{{- $titleAnchor -}}"></a>
        <h6 class="fw-bold">
            {{ .Title }}
            {{ with .Params.translatedTitle }}( {{- . -}} ){{ end }}
            {{ with .Params.publication }}(written for {{ . }}){{ end }}
        </h6>
        {{ with partial "scaledImage" (printf "%s/%s" site.Params.images.reviews .Params.img) }}
            <img
                src="{{ .RelPermalink }}"
                class="img-responsive w-100 mb-3"
                alt="Image of scene from the film {{ $.Title }}" />
        {{ end }}
        <h6 class="fw-bold small pb-2">
            {{ .Params.subtitle | safeHTML }}
        </h6>
        <p class="summary small text-primary-emphasis">
            {{ .Params.opening }}
        </p>
        <div class="small">
            {{ .Summary }}
        </div>
        <p class="small mb-1">
            <a
                target="_blank"
                href="{{ .Params.source }}"
                class="d-flex align-items-center">
                {{ $extLinkIcon | safeHTML }} Continue reading &hellip;</a
            >
        </p>
        {{ partialCached "taxonomy/mreviews/reviewLink" .Title .Title }}
        <hr />
    </div>
</div>
